<f:layout name="Backend/Default" />

<f:section name="pageTitle">TYPO3 Transition Tool</f:section>

<f:section name="pageContent">
<h2>Willkommen</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h2>Über T3TT</h2>
<p>
Ursprünglich gestartet als Projekt im Rahmen des "Google Summer of Code 2011" (GSoC) -Stipendiums vom Stipendiaten 
Nicolas Forgerit und dessen Mentor Christian Müller, hat sich diese Extension zum Ziel gesetzt, Integratoren beim
Umstieg von TYPO3 v4 zu TYPO3 v5 (aka "Phoenix") zu helfen und einen Rahmen hierfür zu bieten. 
</p>
<p>
Momentan unterstützt dieses Tool jedoch einzig und allein die Übersetzung der Inhalte einer TYPO3v4-Instanz, das 
heißt es gibt die Möglichkeit, Pages und die Inhalte der tt_content-Tabelle als Phoenix-importierbare Site zu ex-
portieren. Die Übersetzung erfolgt im Wesentliche via XSLT (EXtensible Stylesheet Language Transformations) und
ist darüber flexible konfigurierbar.
</p>

<p>
Wir brauchen Man-Power:
<ul>
    <li>für User: möglichst viele Übersetzungen auf unterschiedlichen Instanzen (-> Bugs, Missing Features)</li>
    <li>für Developer: Export als Webservice</li>
    <li>für Developer: Support für Extension Transition</li>
    <li>für Developer: Weitere v4-Daten übersetzen? (TS, PHP-Code, TV)</li>
</ul>
</p>
</f:section>