<f:layout name="Backend/Default" />

<f:section name="pageTitle">Prepare your Data</f:section>

<f:section name="pageContent">
<p>
    {headline}
</p>

<f:form controller="Index" action="step1" method="POST" enctype="multipart/form-data">
    <f:form.textfield name="initNode" property="dataPreparation[]" value="0" /> <br>
    <f:form.textfield name="dataFileName" property="dataPreparation[]" value="Input.xml" /> <br>
    <f:form.select name="involvedTables" property="dataPreparation[]" options="{pages: 'pages', tt_content: 'tt_content'}" multiple="true" /> <br>
    <f:form.submit name="generateData" property="dataPreparation[]" value="Generate" /> <br>
</f:form>

</f:section> 