#stepbar {
	position: relative;
	height: 60px;
	background-color: orange;
}

#stepbar .steps {
	height: 60px;
	width: 100%;
	line-height: 60px;
	margin-left: 50px;
}

#stepbar .step {
	height: 50px;
	float: left;
	margin: 10px;
}

#stepbar .step .count {
	height: 40px;
	width: 40px;
	color: #FFF;
	font-size: 20px;
	border-radius: 40px;
	border: 1px solid #FFF;
	vertical-align: middle;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	float: left;
}

#stepbar .step .count.inverted {
	color: orange;
	background-color: #FFF;
}

#stepbar .step .description {
	padding: 10px;
	height: 42px;
	color: #FFF;
	line-height: 12px;
	display: none;
	vertical-align: middle;
}

#stepbar .step .description.active {
	display: block;
}

h1 {
	text-align: left;
}